body {
    font-family: Arial, sans-serif;
    background-image: url(img/2019.09.18-23.47.06-13_p.jpg);
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #1d9af4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;

  }
  
  h1 {
    color: #ffdd00;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border-radius: 0.8rem;
    border: rgb(28, 209, 254) solid 2px;
    outline: none;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffffff;
    color: #0077ff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
  }
  
  #datosClima {
    margin-top: 20px;
    font-size: 18px;
  }
  